@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 4px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  height: 550px;
  width: 650px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.front-screen {
  margin: 0 auto;
  width: 580px;
}

.screen {
  background-color: white;
  width: calc(100% - 8.5rem);
  height: 10px;
  margin: 0 auto;
  border-radius: 50% 50% 0 0;
  position: relative;
}

.overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  margin: 0 auto;
  width: 100%;
  height: 50px;
  clip-path: polygon(4.2rem 0%, 32.1rem 0%, 100% 100%, 0 100%);
}

.seats{
    flex: 1;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.front-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.middle-row{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1rem;
}

.seat{
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    height: 20px;
    width: 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.seat.reserved{
    cursor: not-allowed;
}

.legend{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.legend > div{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.5rem;
}

.legend .seat{
    pointer-events: none;
}

.selected{
    background-color: #9195f8;
}

.reserved{
    background-color: white;
}
